.ac_workarea
    width: 100%;
    height: 100%;
    display: inline-block;
    border-right: 5px solid #3D3C35
    
.ac_workarea div.ac_chart 
    width: 100%; 
    position: relative;

.ac_workarea div.ac_chart canvas 
    position: absolute; 
    left: 0; 
    top: 0; 
    cursor: crosshair;