border-radius()
   -webkit-border-radius: arguments;
   -moz-border-radius: arguments;
   border-radius: arguments;

body
  font: 14px/1.5 Helvetica, arial, sans-serif;
  color: #cc6666;
  #logo
    border-radius: 5px;